name: coverage
run-name: Coverage
on:
  push:
    branches:
      - master
    paths:
      - '**.zig'
      - '**.zon'
      - 'integration_tests/test_cases/**'
      - '.github/workflows/coverage.yml'
  pull_request:
    paths:
      - '**.zig'
      - '**.zon'
      - 'integration_tests/test_cases/**'
      - '.github/workflows/coverage.yml'
jobs:
  coverage:
    if: github.repository_owner == 'KurtWagner'
    # Can't use 24 - see https://github.com/SimonKagstrom/kcov/issues/473
    runs-on: ubuntu-22.04
    name: Test coverage
    timeout-minutes: 5
    steps:
      - name: "Checkout repo"
        uses: actions/checkout@v4

      - name: "Setup zig environment"
        uses: mlugg/setup-zig@v2.0.5
        with:
          version: master
      
      - run: zig env

      - name: Install kcov
        run: |
          wget https://github.com/SimonKagstrom/kcov/releases/download/v42/kcov-amd64.tar.gz
          sudo tar xf kcov-amd64.tar.gz -C /

      - name: "Prefetch dependencies (workaround)"
        run: sed -n 's/.*url *= *"\(.*\)".*/\1/p' build.zig.zon | xargs -t -n1 zig fetch
      
      - name: "Prefetch ZLS dependencies (workaround)"
        run: curl -L https://raw.githubusercontent.com/zigtools/zls/7b9d079c65e2400612bd126ee64ffda5dbb7e1f6/build.zig.zon | sed -n 's/.*url *= *"\(.*\)".*/\1/p' | xargs -t -n1 zig fetch

      - name: "Run unit tests with coverage"
        run: |
          kcov --version
          zig build unit-test -Dcoverage=true --summary all

      - name: "Upload coverage"
        uses: coverallsapp/github-action@v2
